# Environnements Python
.venv/
.venv2/
venv/
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Données et modèles locaux
*.pkl
*.joblib

# Autoriser les données de test
!tests/data/
!tests/data/*.csv

# ML Artifacts 
ML_CONSO_regression/mlruns/
ML_DPE_regression/mlruns/
mlruns/

# Ignorer les métadonnées de packaging
*.egg-info/

# Secrets
.env
*.key

# Système / IDE
.vscode/
.DS_Store
.pytest_cache/
.ruff_cache/

# Artifacts
artifacts/*.joblib

# Ignorer l'environnement virtuel dans projet_filrouge_final
projet_filrouge_final/Lib/
projet_filrouge_final/Scripts/
projet_filrouge_final/Include/
projet_filrouge_final/etc/
projet_filrouge_final/share/
projet_filrouge_final/pyvenv.cfg

# Ignorer les csv
ML_DPE_regression/data/*.csv
ML_CONSO_regression/src/ml_conso/*.csv