# Environnements Python
.venv/
venv/
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Données et modèles locaux
*.pkl
*.joblib
*.csv

# Autoriser les données de test
!tests/data/
!tests/data/*.csv
install_output.txt

#ML Artifacts 
ML_CONSO_regression/mlruns/
ML_DPE_regression/mlruns/
mlruns/

# Ignorer les métadonnées de packaging
*.egg-info/

# Secrets
.env
*.key

# Système / IDE
.vscode/
.DS_Store
.venv/
.pytest_cache/
.ruff_cache/
artifacts/*.joblib